.main-container{
  overflow: hidden;
  display: flex;
  position: relative;
  height: fit-content;
}
.wrapper{
  position: absolute;
  height: 100%;
  right: -42px;
  top: -10px;
  margin: 0 auto;
  padding: 1rem;  
  box-shadow: -10px 0 20px 2px rgb(180, 180, 180);
}
.container{
  max-width: 100%;
  margin: 10px;
  padding: 1rem;
  width: 100%;
  height: 100%;
}
.side-scroll {
  display: flex;
  overflow: auto;
  padding-bottom: 5px;
}
.side-scroll > div {
  flex: 1;
  margin-right: 20px;
  flex: 0 0 250px;
  height: 250px;
  background: #ccc;
}
::-webkit-scrollbar {
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.side-scroll::-webkit-scrollbar-thumb:horizontal {
  
  background-color: grey;
  border-radius: 30px;
}
/* .side-scroll::-webkit-scrollbar-button{
  background-color: black;
} */
.logo{
  max-height: 50px;
}
.test{
  border: 1px black solid;

}
.title{

  font-family: Brush Script MT, cursive;
}
nav.nav{
  display: flex;
}